@model DFC.Personalisation.CommonUI.ViewComponents.Components.BaseComponents.LinkModel
    <a id="@Model.Id" href="@Model.LinkHref" tabindex="@Model.LinkTabIndex" title="@Model.LinkTitle" class="@Model.Class @Model.AdditionalClass">@Model.LinkText</a>