@model DFC.Personalisation.CommonUI.ViewComponents.Components.BaseComponents.LinkModel
    <a id="@Model.Id" href="@Model.Href" tabindex="@Model.TabIndex" title="@Model.Title" class="@Model.Class @Model.AdditionalClass">@Model.Text</a>