@model DFC.Personalisation.CommonUI.ViewComponents.Components.CheckBox.CheckBoxModel
<div class="govuk-checkboxes__item">
    <input class="govuk-checkboxes__input" id="@Model.Id" name="@Model.Name" type="checkbox" value="@Model.Value">
    <label class="govuk-label govuk-checkboxes__label" for="@Model.Name">
        @Model.Label
    </label>
</div>